@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body, html {
  height: 100%;
  width: 100%;
}
body {
  background: #000;
  font-family: 'Roboto', sans-serif;
}
.subtitle {
  color: #fff;
  font-size: 28px;
  text-align: center;
  margin: 30px 0px;
  font-weight: bold;
}
label, .links {
  margin-top: 15px;
  color: #fff;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
